@import "./scss/bootstrap";
@import "./scss/card";
@import "./scss//side";
@import "./scss/stickcard.scss";
@import "./scss/dropdownbtn.scss";
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex: 1 0 auto;
}